@keyframes timeout {
	0% { color: #00C853; }
	60% { color: #76FF03; }
	75% { color: #FFD600; }
	90% { color: #FF9100; }
	100% { color: #FF3D00; }
}

.Countdown {
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 900;
	font-family: "Roboto Mono", Monaco, Consolas, monospace;
	color: #FF3D00;
	animation: timeout 100s linear infinite;
	animation-play-state: paused;
}